* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

#container {
  width: 100%;
}

body {
  font-size: 1em;
  font-family: arial;
}

#logo {
  display: flex;
  justify-content: center;
}

#localisation {
  display: flex;
  justify-content: center;
  border-top: 1px solid #dbdada;
  background-color: #eaeaea;
  width: 100%;
  height: 100%;
  font-size: 1.1em;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#icone_localisation {
  margin-right: 10px;
}

.explo {
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #a95ddc;
  background-image: linear-gradient(180deg, rgba(228, 112, 218, 1), #af5fdc);
  color: #ffffff;
}

.dec {
  background-color: #f6f6f6;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 25px;
}
.dec p {
  padding-bottom: 20px;
  padding-top: 20px;
}

.btn {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.suggestion {
  display: flex;
  justify-content: center;
  border: 2px solid #dbdada;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #f6f6f6;
  padding: 1.55rem 1rem;
  border-radius: 20px/15px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
  justify-content: space-around;
  position: relative;
}

.suggestion:hover {
  background-color: #f5edff;
}

.suggestion:hover i {
  color: #9356dc;
}

.nombre {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 100%;
  background-color: #9356dc;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
}

.restaurant_container {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  width: 90%;
  padding: 10px;
  padding-bottom: 15px;
}

.photo {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 200px;
}

.photo_palette {
  background-image: url(image/palette.jpg);
}

.photo_note_enchanter {
  background-image: url(image/la_note_enchanter.jpg);
}

.photo_bastille {
  background-image: url(image/bastille.jpg);
}

.photo_le_gourmand {
  background-image: url(image/le_gourmand.jpg);
}

.position {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.new {
  background-color: #99e2d0;
  border: 1px solid #99e2d0;
  color: #008766;
  width: 20%;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.title {
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
}

.description {
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 5px 5px 5px #e9e9e9;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.icone {
  display: flex;
  margin-left: 30px;
}

.coeur_plein {
  display: none;
  font-size: 20px;
  color: #a95ddc;
}
.coeur_vide {
  font-size: 20px;
}

.restaurant:hover .coeur_plein {
  display: block;
}
.restaurant:hover .coeur_vide {
  display: none;
}

.footer {
  font-size: 12px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
  flex-direction: column;
}

.renseignement {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

footer {
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-bottom: 20px;
}

@media all and (max-width: 600px) {
  .footer {
    justify-content: center;
  }
}
